.flat-classic-theme {
  background: white;
}

.flat-classic-theme * {
  color: #424242;
  font-family: "font-family: 'Quicksand', sans-serif";
}

.flat-classic-theme input {
  color: #7e7e7e;
  background: #fafafa;
}

.flat-classic-theme .active {
  border: 3px solid #424242;
}

.flat-classic-theme .top-bar, .flat-classic-theme .bottom {
  background: #ececec;
}
