@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto !important';
}

.table-root {
    width: 780px;
    margin: 0px auto;
    border: 1px solid rgb(192, 192, 192);
    font-family: sans-serif;
}

.table-root svg {
    height: 18px;
    width: 18px;
    padding: 3px;
    cursor: pointer;
}

.round {
    border-radius: 3px;
}

.table-root .editB {display: none;}
.table-root .deleteB {display: none;}
.delete_mode .deleteB {display: block;}

input {
    border: 1px solid rgb(192, 192, 192);
    outline: none;
}

.base_color {
    color: rgb(85, 85, 85);
}

.pagination svg{
    height: 15px;
    width: 15px;
    padding: 0;
}

.table-template input {
    font-size: inherit;
    background: inherit;
    padding: 5px 8px;
    display: block;
}

.light-text {
    color: rgb(148, 148, 148);
}

.buttons > .btn{
    border: 1px solid rgb(192, 192, 192);
    padding: 3px 5px;
    cursor: pointer;
    margin: 10px 2px;
    border-radius: 3px;
    font-size: 0.9em;
}

.buttons {
    margin: 0px 10px;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}


.top_spacing {
    padding: 8px 10px;
    margin: 8px 8px;
}

.table-template {
    display: block;
    width: 100%;
    height: 450px; 
    overflow-y: auto;
    text-align: left;
    padding: 5px 8px;
    border-radius: 2px;
    font-family: sans-serif;
    position: relative;
}

.table-template tbody{
    width: 100%;
    display: inline-table;
}

.table-template tr {
    width: 100%;
    border-radius:2;
    transition: all ease 0.3s;
}

.table-template img {
    width: 25px;
    border-radius: 100px;
    box-shadow: 1px 1px 3px 0px black;
}

.table-template tr:nth-child(even){
    background:rgb(239, 234, 255);
}

.table-template tr > th , .table-template tr > td {
    padding: 8px 15px;
    margin: 0;
}

.table-template tr:nth-child(1){
    font-weight: bold;
}

.p1 {
    padding: 3px 8px;
}

.m1 {
    margin: 3px 8px;
}

.flex {
    display: flex;
}

.ml-auto {
    margin-left:auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.small-text {
    font-size: 13px;
}

.py1 {
    padding: 0px 0px;
}

.pb {
    padding-bottom: 10px;
}

.mr-auto {
    margin-right: auto;
}

.hide {
    display: none;
}
